{% extends 'layouts/logged.twig' %}

{% block body %}
{# import section #}
{% import "components/cards.twig" as card %}
{% import "components/pagination.twig" as pages %}
{# content #}
{% set response = getAllPosts() %}
<div class="page-header header-filter" style="background-image: url('/main/style/img/bg.svg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h5 class="text-muted">Featured article</h5>
            <h3>
              
                <a href="/?page=post&s={{featured.serial}}" target="_blank">
                {{ featured.title }}
                </a>
            </h3>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="main">
    <div class="section">
        <div class="container">
        {% if response.posts is iterable and response.posts is not empty %}
            <div class="row">
                {% for post in response.posts %}
                {{ card.blog(post[0].date.image, post[1].name, post[0].title, post[0].serial, {'color': post[1].data.color}) }}
                {% endfor %}
            </div>
          {% else %}
            <div class="text-center"> 
                  <h3>There are no posts available!</h3>
              </div>
          {% endif %}
        </div>
    </div>

    {% if response.count > 1%}
    <div class="section">
        {{ pages.page("blog_pages", body.pg, response.count)}}
      </div>
    {% endif %}
</div>

{% endblock %}