      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Zephyrus DEV - {{ footer.version | default('Beta 0.5')}}
            </span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
    <!-- Bootstrap core JavaScript-->
  <script src="/admin/style/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/admin/style/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->


  <!-- Custom scripts for all pages-->
  <script src="/admin/style/js/sb-admin.min.js"></script>
  <script src="/admin/style/js/bootstrap-notify.min.js"></script>


