<!DOCTYPE html>
<html lang="en">
{# Header module #}
{% include 'widgets/header.twig' %}

<body class="login-page sidebar-collapse">
    {# Navbar module #}
  {% include 'widgets/normal_navbar.twig' %}
{% import 'components/form.twig' as form %}
{% set response = generateFreshTokens(user) %}
  <div class="page-header header-filter" style="background-image: url('/main/style/img/bg8.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="card">
                <div class="card-header card-header-text card-header-success">
                    <div class="card-text text-center">
                    <h4 class="card-title">Confirm your password</h4>
                    </div>
                </div>
                  <div class="card-body">
                      <h4 class="text-center">
                      {{response}}
                      </h4>
                      <form action="" method="post">
                        {{ form.input('password', {'name':'Confirm password','type':'password','required':true}) }}
                        <div class="text-center">
                          <p class="text-muted">
                            <b>Tip:</b> You will be able to make security changes for a few hours!
                          </p>
                          <button class="btn btn-success btn-round" type="submit" name="submit">Proceed</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

    {# Footer module #}
    {% include 'widgets/footer.twig' %}
</body>

</html>