<!DOCTYPE html>
<html lang="en">
{# Header module #}
{% include 'widgets/header.twig' %}

<body class="login-page sidebar-collapse">
    {# Navbar module #}
    {% include 'widgets/normal_navbar.twig' %}

  <div class="page-header header-filter" style="background-image: url('/main/style/img/bg11.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="card">
                <div class="card-header card-header-text card-header-danger">
                    <div class="card-text text-center">
                    <h4 class="card-title">{{error.name}}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="text-center">
                    {{ error.message }}
                    </h4>
                    <div class="text-center">
                    <a href="{{error.url|default('/')}}" style="color: #fff" class="btn btn-success btn-round" type="submit" name="submit">{{error.button |default('Go home')}}</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

    {# Footer module #}
    {% include 'widgets/footer.twig' %}
</body>

</html>