{% extends 'auth.twig' %}

{% block content %}
{% set response = resetPassword() %}
{% import 'components/forms.twig' as forms %}
    <div class="card card-login mx-auto mt-5">
        <!-- <div class="card-header">Reset Password</div> -->
        <div class="card-body">
          <div class="text-center mb-4">
            <h3>Reset your password</h3>
            <p>{{response.msg}}</p>
          </div>
{% if response.msg == "Enter your new password!" or response.msg == "Passwords doesn't match!" %}
          <form action="" method="post"> 
            <div class="form-group">
                {{ forms.input('newpassword','Enter your new password', null, {'autofocus': true, 'type': 'password','name':'Your new password'}) }}
            </div>
            <div class="form-group">
                {{ forms.input('confirm_password','Confirm your new password', null, {'type': 'password','name':'Confirm your password'}) }}
            </div>
            <button class="btn btn-primary btn-block" name="submit">Reset password</button>
          </form>
{% elseif response.msg == "The requested variables are not set!" or response.msg == "Tokens are not valid! Click the button to get a reset password email!" %}
            <a class="btn btn-primary btn-block"  href="/admin/auth.php?page=generate-reset&email={{response.email}}" role="button">Generate new link</a>
{% elseif response.msg == "We can't regenerate a new request because your email is missing!" or response.msg == "Password was reseted successfully. You are redirected to the login screen now" %}
            <a class="btn btn-primary btn-block"  href="/admin" role="button">Go home</a>
{% endif %}
        </div>
      </div>     

{% endblock %}