{% extends 'layout.twig' %}

{% block body %}

{% include "components/breadcrumb.twig" %}
{% import 'components/forms.twig' as forms %}
{% set response = editCategory(c.name) %}
<form action="" method="post" enctype="multipart/form-data">
    <!-- <div class="row"> -->
    <div class="col-12">
        {% if response != null %}
            <div class="alert alert-warning" role="alert">{{response}}</div>
        {% endif %}
        <div class="form-group">
            <div class="form-row">
                <div class="col-6">
                    {{ forms.input("name","name",c.name, {'autofocus': true}) }}
                </div>
                <div class="col-6">
                    {{ forms.input("color","Color",c.data.color) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-6">
                    {{ forms.input("icon","Icon",c.data.icon) }}
                </div>
            </div>
        </div>
        <hr>
        <button class="btn btn-primary btn-block" name="submit">Update category</button>
</form>


</div>
</div>
{% endblock %}