{% extends 'auth.twig' %}


{% block content %}
{% set msg = generateReset() %}
{% if msg == "Success" %}
<div class="container mx-auto mt-5">
        <div class="jumbotron text-center">
          <h1 class="display-4">Succes!</h1>
          <p class="lead">We sent you a new email in order to reset your password!</p>
          <hr class="my-4">
          <p>Please be patient. The email will arrive in maximium 2 minutes. If not regenerate!</p>
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/admin" role="button">Home</a>
          </p>
        </div>
{% else %}
<div class="container mx-auto mt-5">
        <div class="jumbotron text-center">
          <h1 class="display-4">Ooops... Something went wrong.</h1>
          <p class="lead">There was an error with your confirmation.</p>
          <hr class="my-4">
          <p>{{ msg }}</p>
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/admin" role="button">Try again</a>
          </p>
        </div>
{% endif %}

{% endblock %}