{% extends 'pages/settings/main.twig' %}
{% set response = updateEmail() %}



{% block settings %}
{% import 'components/form.twig' as form %}
    <form method="post" action="" enctype="multipart/form-data">
        {{ form.input('email', {'name': 'New email','type': 'email', 'helpText': "Please enter a valid email because you will need to reconfirm it!",'required':true})}}
        {{ form.input('confirm_email', {'type': 'email', 'name': 'Retype new email','required':true})}}
        <div class="text-center">
            <button class="btn btn-primary btn-round" type="submit" name="submit">Change password</button>
        </div>
    </form>
{% endblock %}

{% block alerts %}
{% if response.error != null %}
        <div class ="mr-auto ml-auto mb-auto" style="position: relative;">
            <div class="alert alert-danger">
                <div class="container">
                <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <b>Error:</b> {{response.error}}
                </div>
            </div>
        </div>
    {% endif %}
    {% if response.success == true %}
        <div class ="mr-auto ml-auto mb-auto" style="position: relative;">
            <div class="alert alert-success">
                <div class="container">
                <div class="alert-icon">
                    <i class="material-icons">check</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <b>Success:</b> We've send you a confirmation on the new email adress! Please mind that is available only 15 minutes!
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}