{% extends 'pages/settings/main.twig' %}
{% set response = updatePasswords() %}

{% block settings %}
{% import 'components/form.twig' as form %}
    <form method="post" action="" enctype="multipart/form-data">
        {{ form.input('old_password', {'name':'Old Password','type':'password','required':true}) }}
        {{ form.input('new_password', {'name':'New Password','type':'password','required':true}) }}
        {{ form.input('confirm_password', {'name':'Retype new Password','type':'password','required':true}) }}
        <div class="text-center">
            <button class="btn btn-primary btn-round" type="submit" name="submit">Change password</button>
        </div>
    </form>
{% endblock %}

{% block alerts %}
{% if response.error != null %}
        <div class ="mr-auto ml-auto mb-auto" style="position: relative;">
            <div class="alert alert-danger">
                <div class="container">
                <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <b>Error:</b> {{response.error}}
                </div>
            </div>
        </div>
    {% endif %}
    {% if response.success == true %}
        <div class ="mr-auto ml-auto mb-auto" style="position: relative;">
            <div class="alert alert-success">
                <div class="container">
                <div class="alert-icon">
                    <i class="material-icons">check</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <b>Success:</b> Your password has been successfully updated!
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}