{% extends 'layouts/settings.twig' %}

{% block body %}
<div class="page-header header-filter" data-parallax="true"></div>
<div class="main main-raised">  
    <div class="container">
        <div class="section text-center">
        <h2 class="title">{{user.data.firstname}} {{user.data.lastname}}'s settings</h2>
        </div>
    </div>
    <div class="section">
        <div class="container ">
            
        <!-- Aici trebuie puse setarile -->
        
        </div>
    </div>
</div>
{% endblock %}