<!DOCTYPE html>
<html lang="en">
{# Header module #}
{% include 'widgets/header.twig' %}

<body class="{{body.name}}-page sidebar-collapse">
    {# Navbar module #}
    {% include 'widgets/normal_navbar.twig' %}


    {# Custom page creation #}
    {% block body %}
    {% endblock %}

    {# Footer module #}
    {% include 'widgets/footer.twig' %}
    {# Custom page scripts #}
    {% block scripts %}{% endblock %}
</body>

</html>