<!DOCTYPE html>
<html lang="en">
{# Header module #}
{% include 'widgets/header.twig' %}

<body class="{{body.name}}-page sidebar-collapse">
    {# Navbar module #}
    {% include 'widgets/logged_navbar.twig' %}


    {# Custom page creation #}
    {% block body %}
    {% endblock %}

    {% set vars = {'modal': {
            'name': 'logoutModal',
            'title': 'Ready to Leave?',
            'description': 'Select "Logout" below if you are ready to end your current session.',
            'button': 'Logout',
            'link': '#'
    }}%}
    {% include 'components/modal.twig' with vars %}
    {# Footer module #}
    {% include 'widgets/footer.twig' %}

    {# Custom page scripts #}
    {% block scripts %}{% endblock %}
</body>

</html>