{% extends 'layout.twig' %}

{% block body %}

{% include "components/breadcrumb.twig" %}
{% import 'components/forms.twig' as forms %}
{% set response = createPost(loggedUser) %}
<form action="" method="post" enctype="multipart/form-data">
    <!-- <div class="row"> -->
    <div class="col-12">
        {% if response != null %}
            <div class="alert alert-warning" role="alert">{{response}}</div>
        {% endif %}
        <div class="form-group">
            <div class="form-row">
                <div class="col-6">
                    {{ forms.input("title","the title of the post",null, {'autofocus': true}) }}
                </div>
                <div class="col-6">
                    {{ forms.input("description","Description",null) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label for="inputStatus">Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="public" selected>Public</option>
                        <option value="private" selected>Private</option>
                        <option value="unlisted" selected>Unlisted</option>
                        <option value="draft" selected>Draft</option>
                    </select>
                </div>
        </div>
        <hr>
        {{ forms.textarea('text','What do you have to say?',"This editor is powered by TinyMCE") }}
        <br>
        <button class="btn btn-primary btn-block" name="submit">Create post</button>
</form>


</div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
      toolbar_mode: 'floating',
      height : "480"
    });
  </script>
{% endblock %}