{% extends 'layouts/auth.twig' %}

{% block body %}
{% import 'components/form.twig' as form %}
{% set response = resetPassword() %}
<div class="col-md-6 ml-auto mr-auto">
      <div class="card">
          <div class="card-header card-header-text card-header-warning">
            <div class="card-text text-center">
              <h4 class="card-title">Reset password</h4>
            </div>
          </div>
          <div class="card-body">
            <p class="text-muted text-center">Please note that this action is <b>ireversible</b>!</p>
            {% if response.error_level != null and response.error_level <= 2 %}
            <div class ="mr-auto ml-auto mb-auto" style="position: relative;">
                <div class="alert alert-danger">
                    <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">error_outline</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Error:</b> {{response.error}}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if response.success == true %}
            <div class ="mr-auto ml-auto mb-auto" style="position: relative;">
                <div class="alert alert-success">
                    <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">check</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Success:</b> Password has been changed successfully. You will be redirected in 5 seconds!
                    </div>
                </div>
            </div>
            {% endif %}
            {% if response.error_level > 2 or response.error_level == null %}
            <form method="post" action="">
                {{ form.input('newpassword', {'name':'Password', 'type': 'password',"autofocus": true, 'required': true})}}
                {{ form.input('confirm_password', {'name': 'Confirm Password','type': 'password', 'required': true})}}
                <div class="text-center">
                <button class="btn btn-warning btn-round" type="submit" name="submit">Reset</button>
                </div>
            </form>
            {% endif %}
            {% if response.error_level == 2%}
                <div class="text-center">
                    <a style="color: #fff" href="/auth?page=forgot-password&email={{response.email}}" class="btn btn-info btn-round" type="submit" name="submit">Generate new reset</a>
                </div>
            {% endif %}
            <div class="text-center">
                <a href="/index.php?page=login" class="d-block small mt-3">Login</a>
                <a href="/index.php?page=register" class="d-block small">Register</a>
            </div>
          </div>
      </div>
  </div>
{% endblock %}