{% extends 'layouts/auth.twig' %}

{% block body %}
{% import 'components/form.twig' as form %}
{% set response = generateConfirmation() %}
<div class="col-md-6 ml-auto mr-auto">
      <div class="card">
          <div class="card-header card-header-text card-header-danger">
            <div class="card-text text-center">
              <h4 class="card-title">Confirm your account</h4>
            </div>
          </div>
          <div class="card-body">
            <p class="text-muted text-center">{{response}}</p>
            <form method="post">
              {{ form.input('email', {'value': user.email, 'type': 'email', 'helpText': "If the email isn't in our database you will not recieve one!", 'required': true})}}
              <div class="text-center">
                <button class="btn btn-success btn-round" type="submit" name="submit">Send email</button>
              </div>
            </form>
            <div class="text-center">
                <a href="/auth?page=login" class="d-block small mt-3">Login</a>
                <a href="/auth?page=register" class="d-block small">Register</a>
            </div>
          </div>
      </div>
  </div>
{% endblock %}