{% extends 'layouts/auth.twig' %}

{% block body %}
{% set response = activateUser() %}
<div class="col-md-6 ml-auto mr-auto">
      <div class="card">
          <div class="card-header card-header-text card-header-success">
            <div class="card-text text-center">
              <h4 class="card-title">Confirm your email</h4>
            </div>
          </div>
          <div class="card-body">
            {% if response.error_level != null and response.error_level <= 3 %}
              <div class ="mr-auto ml-auto mb-auto" style="position: relative;">
                  <div class="alert alert-danger">
                      <div class="container">
                      <div class="alert-icon">
                          <i class="material-icons">error_outline</i>
                      </div>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="material-icons">clear</i></span>
                      </button>
                      <b>Error:</b> {{response.error}}
                      </div>
                  </div>
              </div>
            {% endif %}
            {% if response.success == true %}
              <div class ="mr-auto ml-auto mb-auto" style="position: relative;">
                  <div class="alert alert-success">
                      <div class="container">
                      <div class="alert-icon">
                          <i class="material-icons">check</i>
                      </div>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="material-icons">clear</i></span>
                      </button>
                      <b>Success:</b> Account has been changed confirmed. You will be redirected in 5 seconds!
                      </div>
                  </div>
              </div>
            {% endif %}
            {% if response.error_level > 2 or response.error_level == null %}
              <h4 class="text-muted text-center">It looks like you've everything setup!</h4>
              <div class="text-center">
                <a href="/?page=blog" style="color: #fff" class="btn btn-success btn-round" type="submit" name="submit">Go home</a>
              </div>
            {% endif %}
            {% if response.error_level == 2 %}
                <div class="text-center">
                    <a style="color: #fff" href="/auth?page=confirm-account&email={{response.email}}" class="btn btn-info btn-round" type="submit" name="submit">Generate new confirmation</a>
                </div>
            {% endif %}

            <div class="text-center">
                <a href="/auth?page=login" class="d-block small mt-3">Login</a>
                <a href="/auth?page=forgot-password" class="d-block small">Forgot Password?</a>
            </div>
          </div>
      </div>
  </div>
{% endblock %}