{% extends 'layout.twig' %}

{% block body %}

{% include "components/breadcrumb.twig" %}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        {% for file in ls.files %}
        <div class="card bg-dark text-white">
            <img src="{{ file }}" class="card-img" alt="...">
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}