{% extends 'layouts/logged.twig' %}

{% block body %}
{% import 'components/cards.twig' as card %}
<div class="page-header header-filter" style="background-image: url('/main/style/img/bg10.jpg');">
<div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h3 class="title">
                How to give proof of concept when you didn't even released your app
            </h3>
            {{card.author_small(author.image, author.name, author.date)}}
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="main">

    <div class="container">
      <div class="section">
        <p class="post">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna nec tincidunt praesent semper feugiat nibh. Viverra vitae congue eu consequat. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Suscipit adipiscing bibendum est ultricies integer quis. Scelerisque viverra mauris in aliquam sem. Aliquet enim tortor at auctor urna nunc id cursus metus. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Donec ultrices tincidunt arcu non sodales. Nisi scelerisque eu ultrices vitae auctor eu augue ut. Viverra orci sagittis eu volutpat odio facilisis mauris sit. Feugiat pretium nibh ipsum consequat nisl vel pretium. Velit ut tortor pretium viverra suspendisse potenti. Id porta nibh venenatis cras. Ac tortor vitae purus faucibus ornare suspendisse. Urna neque viverra justo nec.
Lectus magna fringilla urna porttitor rhoncus dolor. Gravida rutrum quisque non tellus orci ac auctor augue mauris. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Nisi lacus sed viverra tellus. Neque aliquam vestibulum morbi blandit. Morbi tristique senectus et netus. Viverra justo nec ultrices dui sapien eget mi proin. Sagittis vitae et leo duis ut diam quam. Congue mauris rhoncus aenean vel. Ut aliquam purus sit amet luctus. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Nulla malesuada pellentesque elit eget.
In metus vulputate eu scelerisque felis. Lobortis feugiat vivamus at augue eget arcu. Eget magna fermentum iaculis eu non diam phasellus. Pharetra vel turpis nunc eget lorem. Ultrices vitae auctor eu augue ut. Habitasse platea dictumst quisque sagittis purus sit amet. Eget duis at tellus at urna condimentum mattis pellentesque id. At in tellus integer feugiat scelerisque varius morbi enim. Vivamus arcu felis bibendum ut tristique. Fermentum dui faucibus in ornare quam viverra orci sagittis. Quisque egestas diam in arcu cursus euismod quis. Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Nulla facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Nec nam aliquam sem et tortor.
Mattis pellentesque id nibh tortor id. Sed tempus urna et pharetra pharetra massa massa ultricies mi. Sed adipiscing diam donec adipiscing tristique risus. Id cursus metus aliquam eleifend mi in nulla posuere. Eget lorem dolor sed viverra ipsum nunc. Leo a diam sollicitudin tempor id eu nisl nunc mi. Elementum sagittis vitae et leo duis ut diam. Sagittis vitae et leo duis ut diam quam nulla porttitor. Condimentum id venenatis a condimentum vitae sapien pellentesque. Ipsum faucibus vitae aliquet nec ullamcorper. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida hendrerit.
Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Scelerisque felis imperdiet proin fermentum leo vel orci porta non. Dictumst vestibulum rhoncus est pellentesque. Urna neque viverra justo nec ultrices dui sapien. Nam libero justo laoreet sit amet cursus sit amet. Cursus in hac habitasse platea. Non diam phasellus vestibulum lorem. Volutpat est velit egestas dui id ornare arcu. Pellentesque nec nam aliquam sem et tortor consequat id. Ut pharetra sit amet aliquam id. Vitae aliquet nec ullamcorper sit amet risus. Sit amet consectetur adipiscing elit ut aliquam purus sit amet. Mi quis hendrerit dolor magna. Interdum posuere lorem ipsum dolor sit amet. Convallis tellus id interdum velit.
Auctor elit sed vulputate mi sit amet mauris commodo quis. Aliquam purus sit amet luctus venenatis lectus magna fringilla. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Convallis aenean et tortor at risus viverra adipiscing at in. Ultricies mi eget mauris pharetra et ultrices neque ornare aenean. Elementum tempus egestas sed sed risus. Risus nullam eget felis eget nunc lobortis mattis. Sagittis id consectetur purus ut faucibus pulvinar elementum integer. Vestibulum sed arcu non odio euismod lacinia at quis risus. Arcu ac tortor dignissim convallis aenean et.
Sed risus pretium quam vulputate dignissim. Ac odio tempor orci dapibus ultrices in iaculis nunc. Sit amet dictum sit amet justo donec enim diam. Velit dignissim sodales ut eu sem integer vitae. Suspendisse ultrices gravida dictum fusce ut. Gravida rutrum quisque non tellus orci ac auctor. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Lectus sit amet est placerat in. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Phasellus faucibus scelerisque eleifend donec pretium vulputate.
Turpis massa sed elementum tempus egestas sed sed risus. Dolor magna eget est lorem ipsum dolor sit amet. Non consectetur a erat nam at lectus. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Pellentesque habitant morbi tristique senectus. Ultrices tincidunt arcu non sodales neque. Proin fermentum leo vel orci porta non pulvinar. Nullam eget felis eget nunc lobortis mattis. Cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla. Leo a diam sollicitudin tempor id. Magna fermentum iaculis eu non diam phasellus. Suspendisse interdum consectetur libero id faucibus nisl.
Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas. At quis risus sed vulputate. Pulvinar pellentesque habitant morbi tristique senectus et netus et. Fringilla urna porttitor rhoncus dolor purus. Eget dolor morbi non arcu risus quis. Pretium lectus quam id leo in vitae. Tristique senectus et netus et malesuada. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Ut enim blandit volutpat maecenas volutpat blandit. Libero justo laoreet sit amet cursus. Hac habitasse platea dictumst vestibulum. Pellentesque elit eget gravida cum sociis natoque penatibus. Consectetur a erat nam at lectus. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui. Rutrum quisque non tellus orci ac auctor. Gravida rutrum quisque non tellus orci ac auctor augue. Pulvinar etiam non quam lacus suspendisse faucibus interdum.
Urna duis convallis convallis tellus id interdum velit laoreet. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Eget nulla facilisi etiam dignissim. Sed faucibus turpis in eu mi bibendum. Nullam ac tortor vitae purus faucibus. Ac turpis egestas sed tempus urna. Commodo quis imperdiet massa tincidunt. Nam at lectus urna duis convallis. Risus nec feugiat in fermentum posuere urna nec tincidunt. Accumsan lacus vel facilisis volutpat est velit. Elit at imperdiet dui accumsan sit amet nulla. Mattis nunc sed blandit libero volutpat sed. Enim nunc faucibus a pellentesque. Cursus in hac habitasse platea dictumst quisque sagittis purus. Ut lectus arcu bibendum at.
        </p>
        <hr/>
        <p>
        <h5><b>Tags: </b></h5>
        {% for key in data.tags %}
        <span class="badge badge-default">{{key|upper}}</span>
        {% endfor %}
        </p>
        <p class="text-muted text-right">
          Published <b>10 days</b> ago <i>(edited)</i>
        </p>
        {{card.author_big(author.name, author.description, author.username)}}
      </div>
    <div class="section recomended">
        <h3><b>More content:</b></h3>
        <hr>
        <div class="row">
            {% for i in range(1,6) %}
                {{card.recomanded(data.image, data.title, data.author, data.serial)}}
            {% endfor %}
        </div>
    </div>

  </div>
</div>
{% endblock %}